<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.automation.test.framework"/>

    <bean id="userService" class="com.automation.test.framework.api.service.UserService">
    </bean>

    <bean id="userRestClient" class="com.automation.test.framework.api.client.UserRestClient"/>
    <bean id="dataStoreUtils" class="com.automation.test.framework.api.utils.DataStoreUtils"/>

    <bean id="webDriverFactory" class="com.automation.test.framework.web.driver.WebDriverFactory"/>

    <!--    <bean id="webDriver" class="org.openqa.selenium.WebDriver" factory-bean="webDriverFactory"-->
    <!--          factory-method="initializeDriver" destroy-method="quit"/>-->

    <!--    <bean id="webDriverHome" class="com.automation.test.framework.web.driver.WebDriverHome" destroy-method="closeDriver">-->
    <!--        <constructor-arg name="driver" ref="webDriver" />-->
    <!--    </bean>-->

    <bean id="webDriverHome" class="com.automation.test.framework.web.driver.WebDriverHome">
        <constructor-arg name="webDriverFactory" ref="webDriverFactory"/>
    </bean>

    <bean id="googleMainPage" class="com.automation.test.framework.web.pages.GoogleMainPage">
        <constructor-arg name="webDriverHome" ref="webDriverHome"/>
    </bean>

    <bean id="googleResultsPage" class="com.automation.test.framework.web.pages.GoogleResultsPage">
        <constructor-arg name="webDriverHome" ref="webDriverHome"/>
    </bean>

    <bean id="facebookCommonElementsPage" class="com.automation.test.framework.web.pages.FacebookCommonElementsPage">
        <constructor-arg name="webDriverHome" ref="webDriverHome"/>
    </bean>

</beans>